<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="./chat">Chat application</a>
    <div class="navbar-nav ms-auto">
      <a class="nav-item nav-link" href="#">{{ currentUser }}</a>
      <a class="nav-item nav-link" href="#">Loggged at </a>
      <a class="nav-item nav-link" href="#">Pricing</a>
    </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="container">
        <div class="row">
          <div *ngFor="let user of users">
            <div class="card" style="width: 20rem" (click)="interact(user)">
              <div class="card-body">
                <h5 class="card-title">{{ user.firstName + " " + user.lastName }}</h5>
                <p class="card-text">Email: {{ user.email }}</p>
                <div class="inreraction-buttons" *ngIf="!user.interaction">
                  <button class="btn btn-primary">Show Detail</button>
                  <button class="btn btn-success chat-button">Start chat</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>