p {
  font-family: Lato;
}

input {
  width: 50%;
  margin-left: 25%;
}

.center {
  text-align: center;
}

.submit-button {
  margin-top: 20px;
}

.card-body {
  background-color: rgb(240, 240, 240);
}

.center-card {
  text-align: center;
  margin-left: 33%;
}